* {
  --c0: #dbdddf;
  --c1: #fbfdff;
  --c2: #dbdddf;
  --c3: #cbcdcf;
  --c4: rgb(80, 100, 220);
  --c5: rgb(60, 75, 170);
  --c6: rgb(50, 60, 140);
  
  --xxs: .236rem;
  --xs: .382rem;
  --s: .618rem;
  --m: 1rem;
  --l: 1.618rem;
  --xl: 2.618rem;
  --xxl: 4.236rem;

}
@media (prefers-color-scheme: dark) {
  * {
    --c0: #212325;
    --c1: #313335;
    --c2: #414345;
    --c3: #515355;
    color: #fff;
  }
}

body {
  background-color: var(--c0);
  white-space: nowrap;
  font-family: Arial;
  padding: var(--m);
  margin: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: transparent;
}

.secondaryColorDiv {
  background-color: var(--c1);
  padding: var(--xl);
}

.banner{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: var(--c5);
}

.banner h1{
  margin: auto var(--s);
  color: #fff;
}

.tab {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  background-color: var(--c4);
}

.tablinks {
  border: none;
  flex: 1 1 0px;
  cursor: pointer;
  font-size: large;
  transition: 0.3s;
  padding: var(--s) 0px;
  color: #fff;
  background-color: var(--c4);
}
.tablinks:hover {
  background-color: var(--c5);
}
.tablinks:focus {
  outline: 0px;
  background-color: var(--c5);
}
.tablinks.active {
  background-color: var(--c5);
}

.tabcontent {
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: var(--m);
  padding: var(--m) 0px;
  border-top: none;
  min-height: 12rem;
}

.sortable_list{
  display: flex;
  flex-direction: column;
  gap: var(--s);
  list-style: none;
  background-color: var(--c1);
  margin: 0px;
  padding: 0px;
  padding-bottom: var(--s);
}

.sortable_list div{
  display: grid;
  gap: var(--xs);
  margin-left: var(--xs);
  margin-right: var(--s);
  grid-template-columns: 2.2rem 1fr 3.2rem 3.2rem;
}

.sortable_list span{
  display: inline-flex;
  align-items: center;
}

.sortable_list input{
  width: 100%;
  font-size: large;
  padding: var(--xs);
  outline: 0px;
  border: 2px solid transparent;
  background-color: var(--c1);
}
.sortable_list input:focus{
  border: 2px solid var(--c4);
  background-color: var(--c2);
}
.sortable_list input:hover{
  border: 2px solid var(--c4);
  background-color: var(--c2);
}

.deleteButton{
  width: 100%;
  height: 100%;
  outline: 0px;
  border: 2px solid transparent;
  background-color: var(--c1);
}
.deleteButton:hover{
  border: 2px solid var(--c4);
  background-color: var(--c2);
}
.deleteButton:focus{
  border: 2px solid var(--c4);
  background-color: var(--c2);
}
.deleteButton:active{
  transform: scale(.95);
  background-color: var(--c3);
}

.sortable_list select{
  font-size: medium;
  outline: 0px;
  border: 2px solid transparent;
  background-color: var(--c1);
}
.sortable_list select:hover{
  border: 2px solid var(--c4);
  background-color: var(--c2);
}
.sortable_list select:focus{
  border: 2px solid var(--c4);
  background-color: var(--c2);
}

.sortable_list li p{
  margin: auto 0px;
  margin-left: auto;
  margin-right: var(--s);
  text-align: center;
  font-size: large;
}

.sortable_list li{
  display: flex;
  flex-direction: row;
  margin-top: auto;
}
.primaryColorBtn{
  border: 0px;
  outline: 0px;
  padding: var(--s);
  min-height: 2rem;
  margin-left: var(--s);
  transition: 0.2s;
  cursor: pointer;
  font-size: large;
  color: #fff;
  background-color: var(--c4);
}
.primaryColorBtn:hover{
  background-color: var(--c5);
}
.primaryColorBtn:focus{
  background-color: var(--c5);
}
.primaryColorBtn:active{
  transform: scale(.95);
  background-color: var(--c6);
}

.yearButtons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: auto;
  gap: var(--s);
  width: 20rem;
}

.secondaryColorBtn {
  width: 100%;
  border: 0px;
  outline: 0px;
  cursor: pointer;
  font-size: large;
  transition: 0.2s;
  padding: var(--s) 0px;
  background-color: var(--c1);
}
.secondaryColorBtn:hover {
  background-color: var(--c2);
}
.secondaryColorBtn:focus {
  background-color: var(--c2);
}
.secondaryColorBtn:active {
  transform: scale(.95);
  background-color: var(--c3);
}

.bottomBar {
  padding: var(--s);
  background-color: var(--c4);
  display: flex;
  flex-wrap: wrap;
  gap: var(--s);
  color: #fff;
}

.formInput {
  outline: 0px;
  padding: var(--xs);
  font-size: large;
  color: #000
}

/* The side navigation menu */
.sidenav {
  display: flex;
  flex-direction: column;
  height: 100dvh;
  width: 0;
  position: fixed;
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  right: 0;
  background-color: var(--c1);
  overflow-x: hidden;
  padding-top: var(--l);
  transition: 0.5s;
}

.sidebarText {
  margin-top: var(--m);
  padding: 0px var(--m);
  text-decoration: none;
  font-size: x-large;
  display: block;
  transition: 0.3s;
  cursor: pointer;
  user-select: none;
}
.sidebarText:visited { text-decoration: none; color: inherit; }
.sidebarText:focus { text-decoration: none; color: inherit; }
.sidebarText:active { text-decoration: none; color: inherit; }
.sidebarText:hover {
  text-decoration: none;
  color: inherit; 
  scale: .95;
}

.sidenav .closebtn {
  margin: 0px;
  margin-left: auto;
  padding: var(--s) var(--m);
  font-size: large;
  font-weight: bolder;
  cursor: pointer;
  user-select: none;
}

#main {
  transition: margin-right 0.5s;
}

.toggleContainer {
  display: grid;
  grid-template-rows: 0fr;
  transition: 0.3s ease-out;
}
.toggleContainer.display {
  margin-top: var(--m);
  grid-template-rows: 1fr;
}
.toggleContainer > div {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 0px var(--l);
  gap: var(--m);
}
.multiline > *{
  width: 100%;
  margin: 0px;
  word-break: normal;
  white-space: normal;
}
.multiline > ul{
  width: 90%;
}

.links {
  display: flex;
  justify-content: center;
  gap: var(--m);
  margin-top: auto;
  padding-bottom: var(--xl);
}

.bottomLinks {
  display: flex;
  justify-content: center;
  gap: var(--m);
  position: absolute;
  right: var(--m);
  bottom: var(--m);
}

input[type="checkbox"] { accent-color: var(--c4); }

hr { margin-bottom: var(--xxs); }

@media only screen and (max-aspect-ratio: 2/3) {
  /* For mobile phones: */
  .banner h1{
    font-size: x-large;
    margin: var(--m);
  }
  .yearButtons {
    width: 100%;
  }
  .bottomBar {
    justify-content: center;
  }
  .bottomLinks {
    position: absolute;
    left: 0px;
    width: 100%;
  }
}
