<div id="{{course_id}}" class="course">
    <button class="deleteButton" hx-delete="/delete_course/{{course_id}}" hx-swap="outerHTML" hx-target="closest .course">X</button>
    <span><input name="name" id="i{{course_id}}" type="text" placeholder="Enter course Name" value="{{course_name}}" list="courses" autocomplete="off"></span>
    <span><input name="credit" id="c{{course_id}}" type="number" style="text-align: center;" min="0" max="10" value="{{course_credit}}" onclick="this.select()" autocomplete="off"></span>
    <select name="grade" id="g{{course_id}}">
        {% for grade in ["XX", "AA", "BA", "BB", "CB", "CC", "DC", "DD", "FD", "FF", "NA", "S", "U"] %}
            <option value="{{grade}}" {% if course_grade == grade %}selected{% endif %}>{{grade}}</option>
        {% endfor %}
    </select>
</div>