{% extends 'layouts.html' %}
{% block script %}
<script>
    document.addEventListener("DOMContentLoaded", function() {
        writeGPA(JSON.parse(`{{ GPAs|safe }}`));
    }, false);
</script>
{% endblock script %}
{% block content %}
<body id="main" data-color-mode="auto">
    <div id="mySidenav" class="sidenav">
        <div>
            <span style="margin-left: .8rem; font-size: large;">{{current_user.email}}</span>
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        </div>
        {% with messages = get_flashed_messages(category_filter=["info", "error"]) %}
        {% if messages %}
        <script> alert("{{messages[0]}}"); </script>
        {% endif %}
        {% endwith %}
        <a href="#" onclick="toggleContainer('P')">Change Password</a>
        <form class="toggleContainer" id="change_password" action="{{url_for('change_password')}}" method="post">
            <div>
                <input class="formInput" type="password" name="password" id="password" placeholder="Current password" maxlength="60" required>
                <input class="formInput" type="password" name="password1" id="password1" placeholder="New password" onChange="onChange()" maxlength="60" required>
                <input class="formInput" type="password" name="password2" id="password2" placeholder="Confirm new password" onChange="onChange()" maxlength="60" required>
                <button class="primaryColorBtn" type="submit" style="margin: auto; width: 50%;">Submit</button>
            </div>
        </form>
        <a href="#" onclick="toggleContainer('A')">About</a>
        <div class="toggleContainer" id="about_section">
            <div class="multiline">
                <p>Hi my name is Umut Şen and this website is made by me, a second year computer engineering student studying at METU NCC.</p>
                <p>This website has been a real passion project for me because I have been using the ncclife version of this website since prep school, and I always wanted to make something similar myself.</p>
                <p>If you have any questions or suggestion you can find my contact information below.</p>
            </div>
        </div>
        <a href="#" onclick="toggleContainer('C')">Contact</a>
        <div class="toggleContainer" id="contact_section">
            <div class="multiline">
                <p> Website email:<br>metugpaclaculator@gmail.com</p>
                <p> Github profile: <br>github.com/UmutSen2662</p>
                <p> Linkedin profile: <br>linkedin.com/in/umut-sen-2662-</p>
            </div>
        </div>
        <a href="/signout">Sign out</a>
    </div>

    <datalist id="courses"></datalist>
    <header class="banner">
        <h1>METU GPA Calculator</h1>
        <div style="padding: .6rem; width: 3rem;">
            <button class="secondaryColorBtn" onclick="openNav()">&equals;</button>
        </div>
    </header>
    
    <div id="tab" class="tab">
        {% for i in range(1, years + 1) %}
        {% if current_year == i %}
        <button class="tablinks active" onclick="openTab(event, 'Year {{i}}')">Year {{i}}</button>
        {% else %}
        <button class="tablinks" onclick="openTab(event, 'Year {{i}}')">Year {{i}}</button>
        {% endif %}
        {% endfor %}
    </div>

    <div id="years">
        {% for i in range(years) %}
        {% if current_year == i + 1 %}
        <div id="Year {{i + 1}}" class="tabcontent" style="display: grid;">    
        {% else %}
        <div id="Year {{i + 1}}" class="tabcontent" style="display: none;">
        {% endif %}
            {% for season_name in ["Fall", "Spring", "Summer"] %}
            {% set season = (3 * i + loop.index - 1) %}
            <ul id="season {{season}}" class="sortable_list">
                <h2 style="text-align: center; margin: 0px; margin-top: 8px;">{{season_name}}</h2>
                <div>
                    <span style="padding-left: 12px;">#</span>
                    <span style="font-size: large; padding-left: 2px;">Course Names</span>
                    <span>Credit</span>
                    <span>Grade</span>
                </div>
                {% for course in course_list[season] %}
                <div id="{{course['id']}}" class="course">        
                    <form action=" {{ url_for('delete_course', cid = course['id']) }} " method="get">
                        <button type="submit" class="deleteButton">X</button>
                    </form>
                    <span><input name="name" id="i{{course['id']}}" type="text" placeholder="Enter course Name" value="{{course['name']}}" list="courses" autocomplete="off"></span>
                    <span><input name="credit" id="c{{course['id']}}" type="number" style="text-align: center;" min="0" value="{{course['credit']}}" onclick="this.select()" autocomplete="off"></span>
                    <select name="grade" id="g{{course['id']}}">
                        {% for grade in ["XX", "AA", "BA", "BB", "CB", "CC", "DC", "DD", "FD", "FF", "NA", "S", "U"] %}
                        {% if grade == course['grade'] %}
                        <option value="{{grade}}" selected>{{grade}}</option>
                        {% else %}
                        <option value="{{grade}}">{{grade}}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                </div>
                {% endfor %}
                <li id="l{{season}}">
                    <form action=" {{ url_for('add_course', season = season) }} " method="get">
                        <button class="primaryColorBtn">Add course</button>
                    </form>
                    <p id="p{{season}}" class="GPADisplay"></p>
                </li>
            </ul>
            {% endfor %}
        </div>
        {% endfor %}
    </div>

    <div class="bottomBar">
        <span id="CGPADisplay" style="margin: auto .6rem; font-size: larger;"> CUMULATIVE GPA : 4.00</span>

        <div class="yearButtons">
            <form action=" {{ url_for('edit_year', value = 3) }} " method="get">
                <button type="submit" class="secondaryColorBtn" value="1">Add Year</button>
            </form>
            <form action=" {{ url_for('edit_year', value = 1) }} " method="get">
                <button type="submit" class="secondaryColorBtn" value="-1">Remove Year</button>
            </form>
        </div>
    </div>

</body>
{% endblock content %}