<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="../static/Blue METU logo.ico">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="{{url_for('static', filename='script.js')}}"></script>
    {% block script %}
    {% endblock script %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>METU GPA Calculator</title>
    <meta name="description" content="Easy to use GPA / CGPA calculator for METU NCC. Efforlessly access your gardes from anywhere at anytime.">
</head>
{% block content %}
{% endblock content %}
<div class="links">
    <a href="{{ url_for('terms_of_service') }}" target="_blank">Terms of Service</a>
    <a href="{{ url_for('privacy_policy') }}" target="_blank">Privacy Policy</a>
</div>
</html>