{% extends 'layouts.html' %}
{% block content %}
<body style="height: 90vh; display: flex; justify-content: center; align-items: center;">
    <div, class="secondaryColorDiv">
        <form method="post" style="display: flex; flex-direction: column; gap: 1rem; width: 20rem;">
            <h1 style="margin: 0px auto;">Recover password</h1>
            <input class="formInput" type="password" name="password1" id="password1" placeholder="Enter new password" onChange="onChange()" maxlength="60" required>
            <input class="formInput" type="password" name="password2" id="password2" placeholder="Confirm password" onChange="onChange()" maxlength="60" required>
            <button class="primaryColorBtn" type="submit" style="margin: auto; width: 50%;">Submit</button>
        </form>
    </div>
</body>
<div class="bottomLinks">
    <a href="{{ url_for('terms_of_service') }}" target="_blank">Terms of Service</a>
    <a href="{{ url_for('privacy_policy') }}" target="_blank">Privacy Policy</a>
</div>
{% endblock content %}
