{% extends 'layouts.html' %}
{% block script %}
<script>
    function onChange() {
        const password = document.querySelector('input[name=password1]');
        const confirm = document.querySelector('input[name=password2]');
        if (confirm.value === password.value) {
            confirm.setCustomValidity('');
        } else {
            confirm.setCustomValidity('Passwords do not match');
        }
    };
</script>
{% with messages = get_flashed_messages(category_filter=["info"]) %}
{% if messages %}
<script> alert("{{messages[0]}}"); </script>
{% endif %}
{% endwith %}

{% endblock script %}
{% block content %}
<body style="height: 90vh; display: flex; justify-content: center; align-items: center;">
    <form action="{{ url_for('signin') }}" method="post" style="display: flex; flex-direction: column; gap: 1rem; width: 20rem;">
        <h1 style="margin: 0px auto;">Sign in</h1>
        <input class="formInput" type="email" name="email" id="email" placeholder="Enter email" required>
        <input class="formInput" type="password" name="password" id="password" placeholder="Enter password" required>
         {% with messages = get_flashed_messages(category_filter=["error"]) %}
         {% if messages %}
         <span style="margin: auto;">{{messages[0]}}</span>
         {% endif %}
         {% endwith %}
         <div style="display: flex; justify-content: space-between; align-items: center;">
             <button class="primaryColorBtn" type="submit" style="margin: 0px; width: 50%;">Submit</button>
             <a href="/recovery_page" style="color: gray;">Forgot password</a>
         </div>
        <span style="margin: auto;">Don't have an account? <a href="/register" style="margin: auto;">Register</a></span>
    </form>
</body>
{% endblock content %}
